body{
    background-color: azure;
}
.hero{
    line-height:35px;
    padding:20px;
}
button{
    color: blue;
    padding:10px 35px;
    border-radius: 15px;
    border:none;
    margin-bottom: 50px;

}

button:hover{
    color:blueviolet;
    background-color: rgb(187, 181, 181);;
}

.welcome{
    padding-bottom: 50px;
}

.emoji{
    font-size: 160px;
    padding-top: 50px;
    font-style: none;
}

.tech{
   color: rgb(131, 120, 120);
   font-size: 22px;
}
.thumbnail{
   
    height:150px;
}