{% extends 'base.html' %}

{% import 'bootstrap/wtf.html' as wtf%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
{% block script %}
<script src="{{url_for('static',filename = 'js/app.js')}}"></script>
{% endblock %}
{%block title%}
  pitches
{% endblock %}
{%block content%}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="pitch-head">
        <h1>
          Lets get abit interesting. <br/> <span class="tech">Share your thoughts as well!</span> 
        </h1>
        <div class="pitch-content">
          <div>
            {% for post in posts %}
            <div class="thumbnail">
              <h3>{{post.pitch}}</h3> <br> <br> <br>
            <em><p>{{post.name}}</p></em>
            </div>
            
            
            <hr>
            <button>Add comment</button>
            <button>Update</button>
            <button>Delete</button>
            <br>
            <br>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="categories">
        <div class="cat-holder">

          {{wtf.quick_form(pitch_form)}}
        </div>



      </div>
    </div>
  </div>

</div>
{% endblock %}